<div class="mdl-grid" *ngIf="article">
  <div class="mdl-cell mdl-cell--2-col">
    <button *ngIf="(article.id-1) > 0" (click)="gotoPrevious(article)"  class="article-btn__previous">
      << Previous Article
    </button>
  </div>

  <div class="mdl-cell mdl-cell--8-col article-title">
    <figure>
      <h2>{{article.title | uppercase}}</h2>
      <figcaption class="float--left">
        <span>by {{article.author.name}}</span>
        <span><i>{{article.publishDate | date: 'short'}}</i></span>
      </figcaption>
    </figure>
  </div>

  <div class="mdl-cell mdl-cell--2-col">
    <button (click)="gotoNext(article)" class="article-btn__next">Next Article >></button>
  </div>

  <div class="mdl-cell mdl-cell--8-col mdl-cell--2-offset">
    <img class="article-image" src={{article.image}} />
  </div>

  <div class="mdl-cell mdl-cell--8-col mdl-cell--2-offset">
    <div [innerHtml]="article.body" class="article-body"></div>
  </div>

  <div class="mdl-cell mdl-cell--12-col">
    <button (click)="showEdit = !showEdit;" class="article-btn">Edit Article</button>
  </div>

  <div class="mdl-cell mdl-cell--10-col mdl-cell--1-offset article-edit" [style.display]="getStyle()">
    <div class="mdl-grid mdl-grid--nesting">
      <div class="mdl-cell mdl-cell--6-col">
        <label>Image Url: </label>
        <input class="article-input" size="50" [(ngModel)]="article.image" placeholder="image_url" />
      </div>
      <div class="mdl-cell mdl-cell--6-col">
        <label>Title: </label>
        <input class="article-input" size="50" [(ngModel)]="article.title" placeholder="title" />
      </div>
    </div>

    <div>
      <textarea rows="12" [(ngModel)]="article.body" placeholder="body" ></textarea>
    </div>
    <button (click)="save()" class="article-btn">Save Changes</button>
  </div>

</div>

<div *ngIf="!(article)">
  <h3>No more articles</h3>
  <a [routerLink]="['']">Return to Article List</a>
</div>
