<div *ngIf="article">
  <div>
    <span *ngIf="(article.id-1) > 0" (click)="gotoPrevious(article)"><< Previous Article </span>
    <a [routerLink]="['']">Article List</a>
    <span (click)="gotoNext(article)">Next Article >></span>
  </div>

  <img src={{article.image}} />
  <h2>{{article.title | uppercase}}</h2>
  <p>author: {{article.author.name}}</p>
  <p>published: {{article.publishDate | date: 'short'}}</p>
  <div [innerHtml]="article.body"></div>
  <div>
    <label>image url: </label>
    <input size="40" [(ngModel)]="article.image" placeholder="image_url" />
    <label>Title: </label>
    <input size="40" [(ngModel)]="article.title" placeholder="title" />
    <textarea rows="12" cols="150" [(ngModel)]="article.body" placeholder="body" ></textarea>
  </div>
  <button (click)="save()">Save</button>

</div>

<div *ngIf="!(article)">
  <h3>No more articles</h3>
  <a [routerLink]="['']">Return to Article List</a>
</div>