@import "../../style/sass-helpers/variables";
@import "../../style/sass-helpers/mixins";

.articles {
  list-style: none;
  img {
    width: 100%;
  }
  li {
    cursor: pointer;
    &:hover {
      color: $orange;
    }
  }
  h4 {
    font-family: $open-sans;
  }
}

.article-title__index {
  @include set-font($article-index-title-font...);
  text-shadow: 1px 1px $orange;
  margin-bottom: 0;
  text-align: left;
}

.mdl-grid.mdl-grid--no-spacing > .mdl-cell {
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.border-bottom__lightgrey {
  border-bottom: 1px solid lightgrey;
}
