// styles in src/style directory are applied to the whole page
@import "../../node_modules/material-design-lite/src/material-design-lite.scss";
$blue: #00a7df;
$orange: #f79222;
$green: #75d54f;


body {
    background: #fff;
    margin: 0;
}

footer {
    background-color: $blue;
    color: $orange;
    height: 60px;
    h2 {
        line-height: 60px;
        font-size: 2em;
    }
}

header {
    background-color: $blue !important;
    padding: 5px !important;
    h2 {
        font-size: 2em;
        color: $orange;
        padding-right: 30px;
    }
    a {
        color: $green;
        text-decoration: none;
        cursor: pointer;
        &:hover {
            color: $orange;
        }
    }
}

.margin--none {
    margin: 0px;
}

.float--right {
    float: right;
}

.float--left {
    float: left;
}

