// colors
$blue: #00a7df;
$orange: #f79222;
$green: #75d54f;

// font styles
$open-sans: 'Open Sans', sans-serif;
$merriweather: 'Merriweather', serif;

// border-radius
$left: 25px 5px 5px 25px;
$right: 5px 25px 25px 5px;
$center: 15px 15px 15px 15px;
